*/
/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}
.clear {
  clear: both;
}

.fl {
  float: right;
}

.fl {
  float: left;
}
@import url("fonts/webfonts/hello.myfonts.net/count/30843a");

  
@font-face {font-family: 'Drawzing';src: url('../fonts/webfonts/30843A_0_0.eot');src: url('../fonts/webfonts/30843A_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/webfonts/30843A_0_0.woff2') format('woff2'),url('../fonts/webfonts/30843A_0_0.woff') format('woff'),url('../fonts/webfonts/30843A_0_0.ttf') format('truetype');}
 
/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/******************************************/
/*HOME PAGE*/
/******************************************/
.homepage {
	border: double 10px black;
	padding-bottom: 3em;
	margin-left: 1px;
	margin-top: 2px;
}

header {
  width: 100%;
  height: 5.5em;
}
a {
  text-decoration: none;
  list-style-type: none;
  color: #cc0033;
}
h2 {
  text-decoration: none;
  font-size: 30px;
  color: #cc0033;
  font-family: 'Coming Soon', cursive;
}
button {
	width: 100px;
    height: 44px;
    font-size: 25px !important;
    color: #cc0033;
    font-family: 'Coming Soon', cursive !important;
    border: 1px solid #cc0033;
    background-color: #e6e6e6;
}
.aboutLink:hover {
  color: black;
}
.about {
    margin-top: 1em;
    margin-left: 6em;
}

.searchbox {
    width: 20em;
    height: 2.25em;
    float: right;
    margin-right: 4em;
    margin-bottom: 0em;
}
form {
    margin: -64px;
}
  input {
width: 289px;
    height: 40px;
    background-color: #e6e6e6;
    font-size: 15px;
    display: inline-block;
    font-family: 'Book Antiqua', times;
    border: 1.5px solid #cc0033;
    text-align: left;
    padding-left: 5px;
    margin-right: 49px;
}

  .homeSearch {
    width: 100px;
    height: 44px;
    font-size: 25px !important;
    color: #cc0033;
    font-family: 'Coming Soon', cursive !important;
    border: 1px solid #cc0033;
    background-color: #e6e6e6;
    position: absolute;
    margin-left: -2em;  
  }
  button:hover {
    color: black;
  }

.subjectIconsLeft {
  width: 10em;
  height: 30em;
  margin-left: 2.7em;
  margin-top: -.3em;
}

.logoHome {
  width: 20em;
  height: auto;
  display: block;
  position: absolute;
  left: 27.5em;
  top: 7em;
}
.subjectIconsRight {
    width: 10em;
    height: 30em;
    position: absolute;
    left: 63.5em;
    top: 7.7em;
}

.iconDivs {
  width: 125px;
  height: auto;
  position: relative;
}
.subjectPics {
  width: 100%;
  height: 100%;
}
.scienceIcon:hover {
  opacity: .3;
}
.historyIcon:hover {
  opacity: .3;
}
.artsIcon:hover {
  opacity: .3;
}
.englishIcon:hover {
  opacity: .3;
}
.mathIcon:hover {
  opacity: .3;
}
.moreIcon:hover {
  opacity: .3;
}
.titles {
    font-size: 1.5em;
    font-family: 'Book Antiqua', times;
    font-weight: bold;  
    color: #cc0033;
    display: none;
}

.scienceTitle {
	position: absolute;
	top: 2.1em;
    left: .35em;
}
.historyTitle {
	position: absolute;
	top: 2.1em;
    left: .24em;
}
.artsTitle {
	position: absolute;
	top: 2em;
    left: 1.2em;
}
.englishTitle {
	position: absolute;
	top: 2.1em;
    left: .28em;
}
.mathTitle {
	position: absolute;
	top: 2.2em;
    right: .98em;
	
}
.moreTitle {
    position: absolute;
    top: 2em;
    left: 1.1em;
}

.science {
	margin-left: 3em;
}

.history {
	margin-left: 2.4em;
	margin-top: 2em;
}
.arts {
	top: 3.1em;
    left: 4.5em;
}
.english {
	position: absolute;
    right: 3em;
}
.math {
	position: absolute;
    left: 0em;
    margin-top: 10em;
}
.more {
	top: 21.5em;
    position: absolute;
    right: 4.5em;
}

.pencil img {
	width: 250px;
	height: auto;
	display: block;
}
.leftPencils {
	width: 16em;
    height: 30em;
    float: left;
    position: absolute;
    top: 9em;
    left: 13.5em;
    z-index: 1;
}
.rightPencils {
	width: 16em;
    height: 30em;
    float: right;
    position: absolute;
    left: 47.5em;
    top: 10em;
}
	#pencil1 img {
		position: absolute;
		top: 2em;
    	left: .5em;
		-webkit-transform: rotate(20deg);
	    -moz-transform: rotate(20deg);
	    -ms-transform: rotate(20deg);
	    -o-transform: rotate(20deg);
	    transform: rotate(20deg);
	}
	#pencil2 img {
		position: absolute;
		top: 8.5em;
    	left: .3em;
	}
	#pencil3 img {
		position: absolute;
		top: 15em;
    	left: 2em;
		-webkit-transform: rotate(-20deg);
	    -moz-transform: rotate(-20deg);
	    -ms-transform: rotate(-20deg);
	    -o-transform: rotate(-20deg);
	    transform: rotate(-20deg);
	}
	#pencil4 img {
		position: absolute;
		top: 1.4em;
    	right: .4em;
	    -webkit-transform: rotate(160deg);
	    -moz-transform: rotate(160deg);
	    -ms-transform: rotate(160deg);
	    -o-transform: rotate(160deg);
	    transform: rotate(160deg);
	}
	#pencil5 img {
		position: absolute;
	    top: 7.5em;
	    left: .2em;
	    -webkit-transform: rotate(180deg);
	    -moz-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	    -o-transform: rotate(180deg);
	    transform: rotate(180deg);
	}
	#pencil6 img {
		position: absolute;
		top: 14em;
    	right: 2em;
	    -webkit-transform: rotate(200deg);
	    -moz-transform: rotate(200deg);
	    -ms-transform: rotate(200deg);
	    -o-transform: rotate(200deg);
	    transform: rotate(200deg);
	}

.tagline {
	width: 20em;
	font-family: 'Book Antiqua', times;
	font-size: 40px;
	color: #5B6166;
	position: absolute;
    top: 13em;
    right: 2.3em;
	display: inline;
}
span img {
	width: 225px;
	height: auto;
}
/******************************************/
/*ABOUT PAGE
/******************************************/
.mobileAboutPage {
	display: none;
}
.about_page {
	width: 1214px;
    height: 0px;
    margin-top: 2em;
    position: relative;
    right: .5em;
    /*border: 1px solid #5B6166;*/
}
.aboutNav {
	width: 100%;
	height: 18%;
	display: inline-block;
	position: relative;
  	z-index: 9999;
  	top: 10em;
    left: .8em;
}
.aboutLogo {
	width: 125px;
	height: auto;
	display: inline-block;
	position: relative;
}


.historyLogo {
	width: 125px;
	height: auto;
	display: inline-block;
	position: relative;
}

.civilWarLogo {
	width: 125px;
	height: auto;
	display: inline-block;
	position: relative;
}
 .aboutSearchButton {
    position: relative;
    top: 0.08em;
    right: 2.2em;
   
  }

.aboutSearchbox {
	position: absolute;
    bottom: -7em;
    left: 8.5em;
}
.aboutSubjectsNav {
	float: right;
	display: inline-block;
	position: relative;
	bottom: -2.5em;
    right: 1em;
}
.navIcon {
	width: 75px;
	height: auto;	
	display: inline-block;
}
.navIcon:hover {
	opacity: .8;
}

.notepad {
	background: url("../images/bio_notepad.jpg") center center no-repeat;
	width: 1250px;
	height: 750px;
	background-position: top;
	background-size: cover;
	position: relative;
    top: 20%;
}
.blackborder {
	width: 230px;
	height: 297px;
	background-color: black;
	position: absolute;
    top: 17em;
    left: 18em;
}
.profile_pic {
	width: 20%;
	height: auto;
	position: absolute;
    top: .95em;
    left: .96em;
}
.bio {
    width: 23%;
    height: 40%;
    font-family: 'Annie Use Your Telescope', serif;
    font-size: 1.04em;
    color: #454343;
    left: 53.5%;
    position: absolute;
    bottom: 35.5%;
    line-height: 1.5em;
  }
.session {
	font-size: 1.2em;
	font-weight: bold;
}
/******************************************/
/*HISTORY MAIN PAGE*/
/******************************************/

.mobile_chalkboard_page {
	display: none;
    width: 41em;
    text-align: center;
    position: relative;
    left: 2em;
    top: 7em;
    font-family: 'Drawzing';
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 10em;
    margin-top: 3em;
    margin-right: -5em;
}

.mobile_history_head {
    color: #f4f4f0;
    font-weight: normal;
    font-size: 6.5em;
    margin: 0.67em 0;
    position: absolute;
    top: .8em;
    left: 1.1em;
    letter-spacing: .1em;
}


.historySearchbox {
	display: inline-block;
	position: absolute;		
	top: 9em;
    left: 12em;
}

.historySubjectsNav{
	float: right;
	display: inline-block;
	position: relative;
	top: 2.4em;
    right: -20em;
}

.history_main {
	width: 1200px;
	height: 450px;
}
.historyNav {
	position: fixed;
	bottom: 33.5em;
	background-color: white;
	width: 100%;
	height: 15%;
	display: inline-block;
  	z-index: 9999;
    left: .8em;
    padding-top: 1em;
    padding-bottom: 1em;
}
.historySearchButton {
	position: relative;
    top: 0.08em;
    right: 2.2em;
}
	.chalkboard {
		width: 100%;
		height: 450px;
		text-align: center;
		position: relative;
		left: 2em;
		top: 8em;
		font-family: 'Drawzing';
		color: rgba(0, 0, 0, 0.5);
		margin-bottom: 25em;
	}

	.history_head {
		color: #f4f4f0;
		font-weight: normal;
		font-size: 8em;
	    margin: 0.67em 0;
	    position: absolute;
	    top: .5em;
    	left: 2.5em;
	    letter-spacing: .1em;		
	}

	.us_history_button:hover{
		color: red;
	}
	.us_history_button {
		font-size: 45px;
	    color: #f4f4f0;
	    position: absolute;
	    top: 7em;
    	left: 5.5em;
	    float: left;
	}
	.world_history_button:hover {
		color: red;
	}
	.world_history_button {
		font-size: 45px;
		color: #f4f4f0;
	    position: absolute;
	    top: 7em;
    	right: 6em;
	    float: right;
	}

.ushistory_main {
	width: 100%;
	height: 500px;
	margin-bottom: 21em;
}

	.us_map {
		width: 70%;
		height: 500px;
	}
	.us_history_body {
		width: 25%;
		height: 80%;
		background-color: black;
		border:2px solid black;
		outline:2px #fff solid;
		outline-offset:-6px;
		color: white;
		font-family: 'Rubik', sans-serif;
		float: right;
		margin-top: 3em;
		margin-right: 2em;	
	}
	.us_history_header {
		text-align: center;
		font-weight: 500;
	}
	.eras_menu,
	.wars_menu,
	.presidents_menu {
		margin-left: 5.5em;
	    padding-top: 8em;
	    margin-top: -3em;	
	}
	#era_name,
	#war_name,
	#president_name {
		color: white;
		border: solid, black, 2px;
		background-color: black;
		font-family: 'Rubik', sans-serif;
		font-size: 1.2em;
		display: inline-block;
		text-align: middle;
		vertical-align: middle;
		width: 13em;
	}

.worldhistory_main {
	width: 100%;
	height: 450px;
	margin-top: 9em;
	margin-bottom: 5em;
}
		.world_map {
		width: 65%;
		height: 500px;
		float: right;
		}
		.world_history_body {
			width: 25%;
			height: 80%;
			background-color: black;
			border:2px solid black;
			outline:2px #fff solid;
			outline-offset:-6px;
			color: white;
			font-family: 'Rubik', sans-serif;
			float: left;
			margin-top: 3.5em;
			margin-left: 4em;	
		}

		.world_history_header {
			text-align: center;
			font-weight: 500;
		}
		
		.world_eras_menu,
		.regions_menu,
		.modern_history_menu {
		  	margin-left: 5.5em;
    		padding-top: 8em;
    		margin-top: -3em;
	}
		#world_era_name,
		#region_name,
		#modern_history_category {
		color: white;
		border: solid, black, 2px;
		background-color: black;
		font-family: 'Rubik', sans-serif;
		font-size: 1.2em;
		display: inline-block;
		text-align: middle;
		vertical-align: middle;
		width: 13em;
	}


/******************************************/
/*CIVIL WAR PAGE*/
/******************************************/

.civilWarNav {
	margin-top: 1.5em;
	position: fixed;
	bottom: 33em;
	background-color: white;
	width: 100%;
	height: 18%;
	display: inline-block;
  	z-index: 9999;
    left: .8em;
    padding-top: 1em;
    padding-bottom: 1em;
}
.civilWarSearchbox {
	display: inline-block;
	position: absolute;		
	top: 9.5em;
    left: 12em;
}
.civilWarSubjectsNav {
	float: right;
	display: inline-block;
	position: relative;
	top: 3.4em;
    right: 3em;
}
.civilWarSearchButton {
	position: relative;
	top: 0.1em;
    right: 2.2em;
}
.history_directory a {
	text-decoration: none;
	color: #cc0033;
}
.history_directory a:hover {
	color: black;
}
.history_directory {
	display: inline-flex;
    position: absolute;
    top: 23.5%;
    color: #cc0033;
    font-family: 'Coming Soon', cursive;
    font-size: 1.3em;
    list-style: none;
    letter-spacing: .08em;
}
.civil_war_main {
	float: left;
	width: 70%;
	margin-top: 8em;

}
.civil_war_aside {
	margin-top: 9em;
}
.civil_war_header {
    font-family: 'Book Antiqua', times;
    font-weight: bold;
    color: #4A4A49;
    font-size: 36px;
    text-transform: uppercase;
    line-height: .5em;
    letter-spacing: 0;
    position: absolute;
    top: 5.5em;
    margin-left: .8em;
}
.civil_war_body {
	font-family: 'Times New Roman', times;
    font-weight: normal;
    color: #4A4A49;
    font-size: 1.5em;
    line-height: 1.3em;
    position: relative;
    top: 6em;
    margin-left: 1.3em;
    margin-bottom: 8em;
}
.ft_sumter {
	width: 45%;
	height: auto;
	float: right;
	border: solid 5px #4A4A49;
}	
.ft_henry {
	width: 40%;
	height: auto;
	float: left;
	border: solid 5px #4A4A49;
	margin-right: 1em;
}
.strategy_map {
	width: 40%;
	height: auto;
	float: right;
	border: solid 5px #4A4A49;
	margin-right: 1em;
}
.antietam {
	width: 40%;
	height: auto;
	float: left;
	border: solid 5px #4A4A49;
	margin-right: 1em;
}
.lincoln {
	width: 37%;
	height: auto;
	float: right;
	border: solid 5px #4A4A49;
	margin-left: 1em;
	margin-top: -1.5em;
}
.aside_head {
	text-transform: uppercase;
    text-decoration: underline;
    font-weight: bold;
	font-size: 1.2em;
    font-family: 'Book Antiqua', times;
    text-align: center;
}
.civil_war_aside {
	width: 25%;
    height: 800px;
    border: 1px solid #4A4A49;
    float: right;
    overflow: hidden;
    position: relative;
    top: 4.8em;
	font-family: 'Book Antiqua', times;
    text-align: left;
    font-weight: bold;
    padding-bottom: 2em;
    text-align: left;
}
.cvKeys:link {
	color: #4A4A49;
}
.cvKeys:hover {
	 color: #cc0033;
}
.scrollToTopAbout {
	text-align:center; 
	background: white;
	font-weight: bold;
	font-size: 32px;
    color: #cc0033;
    text-decoration: none;
    position: fixed;
    top: 19em;
    right: 2em;
    font-family: 'Coming Soon', cursive;
    border: 1px solid #cc0033;
    display: none;
}
.scrollToTopAbout:hover{
	text-decoration:none;
	color: black;
}
.scrollToTop{
	text-align:center; 
	background: white;
	font-weight: bold;
	font-size: 32px;
    color: #cc0033;
    text-decoration: none;
    position: fixed;
    top: 19em;
    right: 2em;
    font-family: 'Coming Soon', cursive;
    display: none;
}
.scrollToTop:hover{
	text-decoration:none;
	color: black;
}


@media only screen and (max-width: 767px) {

/******************************************/
/*HOME PAGE*/
/******************************************/
.homepage {
	margin-bottom: 8em;
}
.search {
	margin-right: 3em;
    width: 19em;
}
.leftPencils,
.rightPencils {
	display: none;
}
.subjectIconsLeft {
	margin-left: -6px;
}
.logoHome {
	left: 13em;
	top: 10em;
}
.subjectIconsRight {
	left: 36.5em;
}
.history {
	margin-top: 1em;
}
.arts {
	margin-top: -2em;
}
.math {
	margin-top: 9em;
}
.more {
	margin-top: -3em;
}
.about {
	margin-left: 2.5em;
}
.tagline {
	top: 14em;
    right: 2.5em;
    width: 539px;
}

/******************************************/
/*ABOUT PAGE
/******************************************/
.about_page {
	display: none;
}
.mobileAboutPage {
	width: 767px;
	background: url("../images/mobile_about_page.jpg") center center no-repeat;
	height: 750px;
	background-size: cover;
	position: relative;
    top: 20%;
    display: block;
}
.mobileBio {
	margin-top: 5em;
    width: 44%;
    height: 22%;
    font-family: 'Annie Use Your Telescope', serif;
    font-size: 1.2em;
    color: #454343;
    left: 53.5%;
    position: absolute;
    left: 11em;
    top: 1em;
    line-height: 1.5em;
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    -o-transform: rotate(1deg);
    transform: rotate(1deg);
  }
/******************************************/
/*HISTORY MAIN PAGE*/
/******************************************/
.ushistory_main {
	margin-bottom: 0px;
}
.chalkboard {
	display: none;
}
.mobile_chalkboard_page {
	display: block;
}

.us_map {
	display: none;
}
.us_history_body {
	float: left;
    height: 362px;
    margin-top: 56px;
    margin-left: 18px;
}
.world_map {
	display: none;
}

.historySubjectsNav {
	display: none;
}
.historySearchButton {
	top: .10em;
}

/***************************************/
/*CIVIL WAR PAGE*/
/******************************************/
.civilWarSearchbox {
	left: 12.5em;
}
.civilWarSearchButton {
	top: .08em;
}
.civilWarSubjectsNav {
	display: none;
}
.civil_war_aside {
	display: none;
}
.civil_war_body{
	margin-right: -8em;
}
.chalkboardImg img {
	width: 200px;
	height: auto;
}
}



