*/
/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}
.clear {
  clear: both;
}

.fl {
  float: right;
}

.fl {
  float: left;
}
@import url("fonts/webfonts/hello.myfonts.net/count/30843a");

  
@font-face {font-family: 'Drawzing';src: url('../fonts/webfonts/30843A_0_0.eot');src: url('../fonts/webfonts/30843A_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/webfonts/30843A_0_0.woff2') format('woff2'),url('../fonts/webfonts/30843A_0_0.woff') format('woff'),url('../fonts/webfonts/30843A_0_0.ttf') format('truetype');}
 
/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/******************************************/
/*HOME PAGE*/
/******************************************/
a {
	text-decoration: none;
	list-style-type: none;
	color: #4A4A49;
}

.body_home {
  width: 1200px;
  display: inline;
  margin-left: auto;
  margin-right: auto;
  background: white;
  padding:20px;
  margin-top: 0px;
  position: absolute;
}
.about {
	text-decoration: none;
	color: #cc0033;
	margin-top: 40px;
}
.about:hover {
	color: black;
}

h2 {
	text-decoration: none;
	float: left;
	font-size: 30px;
	color: #cc0033;
	font-family: 'Coming Soon', cursive;
	position: relative;
	left: 15%;
}
	.home_searchbox {
		float: right;
		margin-top: 25px;
		margin-right: 12%;
		margin-bottom: 20px;
	}

	input {
		width: 300px;
		height: 32px;
		background-color: #e6e6e6;
		display: inline-block;
		font-family: 'Book Antiqua', times;
		border: 1.5px solid #cc0033;
		position: relative;
    	bottom: 6px;
   		text-align: left;
   		padding-left: 5px;
	}
	button {
		width: 100px;
		height: 36px;
		font-size: 25px !important;
		color: #cc0033;
		font-family: 'Coming Soon', cursive !important;
		border: 1px solid #cc0033;;
		background-color: #e6e6e6;
	}
	button:hover {
		color: black;
	}
#logo {
	width: 24%;
	height: auto;
	margin-left: 37.5%;
	position: relative;
	top: 50px;
	display: block;
}
.pencil img {
	width: 250px;
	height: auto;
	display: block;
}
	#pencil1 img {
		position: absolute;
		top: 165px;
		left: 245px;
		-webkit-transform: rotate(20deg);
	    -moz-transform: rotate(20deg);
	    -ms-transform: rotate(20deg);
	    -o-transform: rotate(20deg);
	    transform: rotate(20deg);
	}
	#pencil2 img {
		position: absolute;
		top: 275px;
		left: 245px;
	}
	#pencil3 img {
		position: absolute;
		top: 375px;
		left: 270px;
		-webkit-transform: rotate(-20deg);
	    -moz-transform: rotate(-20deg);
	    -ms-transform: rotate(-20deg);
	    -o-transform: rotate(-20deg);
	    transform: rotate(-20deg);
	}
	#pencil4 img {
		position: absolute;
		top: 170px;
		left: 765px;
	    -webkit-transform: rotate(160deg);
	    -moz-transform: rotate(160deg);
	    -ms-transform: rotate(160deg);
	    -o-transform: rotate(160deg);
	    transform: rotate(160deg);
	}
	#pencil5 img {
		position: absolute;
		top: 275px;
		left: 762px;
	    -webkit-transform: rotate(180deg);
	    -moz-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	    -o-transform: rotate(180deg);
	    transform: rotate(180deg);
	}
	#pencil6 img {
		position: absolute;
		top: 375px;
		left: 59%;
	    -webkit-transform: rotate(200deg);
	    -moz-transform: rotate(200deg);
	    -ms-transform: rotate(200deg);
	    -o-transform: rotate(200deg);
	    transform: rotate(200deg);
	}

.science_title,
.history_title,
.arts_title,
.english_title,
.math_title,
.more_title {
	display: none;
	color: black;
	font-family: 'Book Antiqua', times;
	font-size: 1em;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
}
.science_title:hover,
.history_title:hover,
.arts_title:hover,
.english_title:hover,
.math_title:hover,
.more_title:hover {
	opacity: .3;
}
.science img {
	width: 125px;
	height: auto;
	float: left;
	position: relative;
	bottom: 300px;
	left: 100px;
}
.history img {
	width: 125px;
	float: left;
	position: relative;
	bottom: 130px;
	right: 30px;
}
.arts img {
	width: 125px;
	height: auto;
	position: relative;
	right: 125px;
	top: 35px;
	float: left;
}
.english img {
	width: 125px;
	height: auto;
	float: right;
	position: relative;
	bottom: 295px;
	right: 80px;
}
.math img {
	width: 125px;
	height: auto;
	float: right;
	position: relative;
	bottom: 140px;
	left: 4%;
}
.more img {
	width: 125px;
	height: auto;
	position: relative;
	top: 37px;
	left: 11.3%;
	float: right;
}
.tagline {
	font-family: 'Book Antiqua', times;
	font-size: 40px;
	color: #5B6166;
	position: absolute;
	top: 13em;
	left: 30%;
	display: inline-block;
}
span img {
	width: 225px;
	height: auto;
	position: relative;
	top: 5px;
}

/******************************************/
/*ABOUT PAGE
/******************************************/
.about_page {
	width: 1200px;
	height: 0px;
	margin-top: 15em;
}

.aboutNav {
	width: 100%;
	height: 18%;
	display: inline-block;
	position: relative;
  	z-index: 9999;
  	top: 8.5em;
    left: .8em;
}
.aboutLogo,
.historyLogo,
.civilWarLogo {
	width: 125px;
	height: auto;
	display: inline-block;
	position: relative;
}

.aboutSearchbox,
.historySearchbox,
.civilWarSearchbox {
	display: inline-block;
	position: absolute;		
	top: 4.5em;
    left: 140px;
}

.aboutSubjectsNav,
.historySubjectsNav,
.civilWarSubjectsNav {
	float: right;
	display: inline-block;
	position: relative;
	top: 2.5em;
    right: 3em;
}
.aboutScience,
.aboutHistory,
.aboutArts,
.aboutEnglish,
.aboutMath,
.aboutMore,
.historyScience,
.historyHistory,
.historyArts,
.historyEnglish,
.historyMath,
.historyMore,
.civilWarScience,
.civilWarHistory,
.civilWarArts,
.civilWarEnglish,
.civilWarMath,
.civilWarMore {
	width: 75px;
	height: auto;	
	display: inline-block;
}
.aboutScience:hover,
.aboutHistory:hover,
.aboutArts:hover,
.aboutEnglish:hover,
.aboutMath:hover,
.aboutMore:hover,
.historyScience:hover,
.historyHistory:hover,
.historyArts:hover,
.historyEnglish:hover,
.historyMath:hover,
.historyMore:hover,
.civilWarScience:hover,
.civilWarHistory:hover,
.civilWarArts:hover,
.civilWarEnglish:hover,
.civilWarMath:hover,
.civilWarMore:hover {
	opacity: .8;
}

.notepad {
	background: url("../images/bio_notepad.jpg") center center no-repeat;
	width: 100%;
	height: 750px;
	background-size: cover;
	position: relative;
    top: 20%;
}
.blackborder {
	width: 230px;
	height: 297px;
	background-color: black;
	position: absolute;
    top: 14.5em;
    left: 17em;
}
.profile_pic {
	width: 20%;
	height: auto;
	position: absolute;
    top: .95em;
    left: .96em;
}
.bio {
    width: 23%;
    height: 40%;
    font-family: 'Annie Use Your Telescope', serif;
    font-size: 1em;
    color: #454343;
    left: 54%;
    position: absolute;
    bottom: 37.3%;
    line-height: 1.5em;
  }

/******************************************/
/*HISTORY MAIN PAGE*/
/******************************************/

.history_main {
	width: 1200px;
	height: 450px;
}
.historyNav {
	position: fixed;
	bottom: 33.2em;
	background-color: white;
	width: 100%;
	height: 18%;
	display: inline-block;
  	z-index: 9999;
    left: .8em;
    padding-top: 1em;
    padding-bottom: 1em;
}
.historySearchButton {
	position: relative;
    top: .09em;
}
	.chalkboard {
		width: 100%;
		height: 450px;
		text-align: center;
		position: relative;
		left: 2em;
		top: 8em;
		font-family: 'Drawzing';
		color: rgba(0, 0, 0, 0.5);
		margin-bottom: 25em;
	}

	.history_head {
		color: #f4f4f0;
		font-weight: normal;
		font-size: 8em;
	    margin: 0.67em 0;
	    position: absolute;
	    top: .5em;
    	left: 2.5em;
	    letter-spacing: .1em;		
	}

	.us_history_button:hover{
		color: red;
	}
	.us_history_button {
		font-size: 45px;
	    color: #f4f4f0;
	    position: absolute;
	    top: 7em;
    	left: 5.5em;
	    float: left;
	}
	.world_history_button:hover {
		color: red;
	}
	.world_history_button {
		font-size: 45px;
		color: #f4f4f0;
	    position: absolute;
	    top: 7em;
    	right: 6em;
	    float: right;
	}

.ushistory_main {
	width: 100%;
	height: 500px;
	margin-bottom: 20em;
}

	.us_map {
		width: 70%;
		height: 500px;
	}
	.us_history_body {
		width: 25%;
		height: 80%;
		background-color: black;
		border:2px solid black;
		outline:2px #fff solid;
		outline-offset:-6px;
		color: white;
		font-family: 'Rubik', sans-serif;
		float: right;
		margin-top: 3em;
		margin-right: 2em;	
	}
	.us_history_header {
		text-align: center;
		font-weight: 500;
	}
	.eras_menu,
	.wars_menu,
	.presidents_menu {
		margin-left: 1.5em;
  		padding-top: 2em;		
	}
	#era_name,
	#war_name,
	#president_name {
		color: white;
		border: solid, black, 2px;
		background-color: black;
		font-family: 'Rubik', sans-serif;
		font-size: 1.2em;
		display: inline-block;
		text-align: middle;
		vertical-align: middle;
		width: 13em;
	}

.worldhistory_main {
	width: 100%;
	height: 450px;
	margin-top: 8em;
}
		.world_map {
		width: 65%;
		height: 500px;
		float: right;
		}
		.world_history_body {
			width: 25%;
			height: 80%;
			background-color: black;
			border:2px solid black;
			outline:2px #fff solid;
			outline-offset:-6px;
			color: white;
			font-family: 'Rubik', sans-serif;
			float: left;
			margin-top: 3.5em;
			margin-left: 4em;	
		}

		.world_history_header {
			text-align: center;
			font-weight: 500;
		}
		
		.world_eras_menu,
		.regions_menu,
		.modern_history_menu {
		margin-left: 1.5em;
  		padding-top: 2em;	
	}
		#world_era_name,
		#region_name,
		#modern_history_category {
		color: white;
		border: solid, black, 2px;
		background-color: black;
		font-family: 'Rubik', sans-serif;
		font-size: 1.2em;
		display: inline-block;
		text-align: middle;
		vertical-align: middle;
		width: 13em;
	}


/******************************************/
/*CIVIL WAR PAGE*/
/******************************************/

.civilWarNav {
	margin-top: 1em;
	position: fixed;
	bottom: 33em;
	background-color: white;
	width: 100%;
	height: 18%;
	display: inline-block;
  	z-index: 9999;
    left: .8em;
    padding-top: 1em;
    padding-bottom: 1em;
}
.civilWarSearchButton {
	position: relative;
	top: 0em;
}
.history_directory a {
	text-decoration: none;
	color: #cc0033;
}
.history_directory a:hover {
	color: black;
}
.history_directory {
	display: inline-flex;
    position: absolute;
    top: 23.5%;
    color: #cc0033;
    font-family: 'Coming Soon', cursive;
    font-size: 1.3em;
    list-style: none;
    letter-spacing: .08em;
}
.civil_war_main {
	float: left;
	width: 70%;
	margin-top: 8em;

}
.civil_war_aside {
	margin-top: 9em;
}
.civil_war_header {
    font-family: 'Book Antiqua', times;
    font-weight: bold;
    color: #4A4A49;
    font-size: 36px;
    text-transform: uppercase;
    line-height: .5em;
    letter-spacing: 0;
    position: absolute;
    top: 5.5em;
    margin-left: .8em;
}
.civil_war_body {
	font-family: 'Times New Roman', times;
    font-weight: normal;
    color: #4A4A49;
    font-size: 1.5em;
    line-height: 1.3em;
    position: relative;
    top: 6em;
    margin-left: 1.3em;
    margin-bottom: 8em;
}
.ft_sumter {
	width: 45%;
	height: auto;
	float: right;
	border: solid 5px #4A4A49;
}	
.ft_henry {
	width: 40%;
	height: auto;
	float: left;
	border: solid 5px #4A4A49;
	margin-right: 1em;
}
.strategy_map {
	width: 40%;
	height: auto;
	float: right;
	border: solid 5px #4A4A49;
	margin-right: 1em;
}
.antietam {
	width: 40%;
	height: auto;
	float: left;
	border: solid 5px #4A4A49;
	margin-right: 1em;
}
.lincoln {
	width: 37%;
	height: auto;
	float: right;
	border: solid 5px #4A4A49;
	margin-left: 1em;
	margin-top: -1.5em;
}
.aside_head {
	text-transform: uppercase;
    text-decoration: underline;
    font-weight: bold;
	font-size: 1.2em;
    font-family: 'Book Antiqua', times;
    text-align: center;
}
.civil_war_aside {
	width: 25%;
    height: 800px;
    border: 1px solid #4A4A49;
    float: right;
    overflow: hidden;
    position: relative;
    top: 4.8em;
	font-family: 'Book Antiqua', times;
    text-align: left;
    font-weight: bold;
    padding-bottom: 2em;
    text-align: left;
}
.cvKeys:link {
	color: #4A4A49;
}
.cvKeys:hover {
	 color: #cc0033;
}
.scrollToTop{
	text-align:center; 
	background: white;
	font-weight: bold;
	font-size: 32px;
    color: #cc0033;
    text-decoration: none;
    position: fixed;
    top: 19em;
    right: 2em;
    font-family: 'Coming Soon', cursive;
    display: none;
}
.scrollToTop:hover{
	text-decoration:none;
	color: black;
}