.body_home {
  width: 1200px;
  display: inline;
  margin-left: auto;
  margin-right: auto;
  background: white;
  padding:20px;
  margin-top: 0px;
  position: absolute;
}
.about {
	text-decoration: none;
	color: #cc0033;
	margin-top: 40px;
}
a:hover {
	color: black;
}
h2 {
	text-decoration: none;
	float: left;
	font-size: 30px;
	color: #cc0033;
	font-family: 'Coming Soon', cursive;
	position: relative;
	left: 20%;
}
	.home_searchbox {
		float: right;
		margin-top: 25px;
		margin-right: 10%;
		margin-bottom: 20px;
	}

	input {
		width: 300px;
		height: 25px;
		border-style: solid;
		border-color: #cccccc;
		background-color: #e6e6e6;
		display: inline-block;
	}
	button {
		width: 75px;
		font-size: 25px !important;
		color: #cc0033;
		font-family: 'Coming Soon', cursive !important;
		border-style: solid;
		border-color: white;
		background-color: white;
	}

#logo {
	width: 24%;
	height: auto;
	margin-left: 37.5%;
	position: relative;
	top: 50px;
	display: block;
}
.pencil img {
	width: 250px;
	height: auto;
	display: block;
}
	#pencil1 img {
		position: absolute;
		top: 165px;
		left: 245px;
		-webkit-transform: rotate(20deg);
	    -moz-transform: rotate(20deg);
	    -ms-transform: rotate(20deg);
	    -o-transform: rotate(20deg);
	    transform: rotate(20deg);
	}
	#pencil2 img {
		position: absolute;
		top: 275px;
		left: 245px;
	}
	#pencil3 img {
		position: absolute;
		top: 375px;
		left: 270px;
		-webkit-transform: rotate(-20deg);
	    -moz-transform: rotate(-20deg);
	    -ms-transform: rotate(-20deg);
	    -o-transform: rotate(-20deg);
	    transform: rotate(-20deg);
	}
	#pencil4 img {
		position: absolute;
		top: 170px;
		left: 765px;
	    -webkit-transform: rotate(160deg);
	    -moz-transform: rotate(160deg);
	    -ms-transform: rotate(160deg);
	    -o-transform: rotate(160deg);
	    transform: rotate(160deg);
	}
	#pencil5 img {
		position: absolute;
		top: 275px;
		left: 762px;
	    -webkit-transform: rotate(180deg);
	    -moz-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	    -o-transform: rotate(180deg);
	    transform: rotate(180deg);
	}
	#pencil6 img {
		position: absolute;
		top: 375px;
		left: 59%;
	    -webkit-transform: rotate(200deg);
	    -moz-transform: rotate(200deg);
	    -ms-transform: rotate(200deg);
	    -o-transform: rotate(200deg);
	    transform: rotate(200deg);
	}
.subject_title {
	display: none;
}
.science img {
	width: 125px;
	height: auto;
	float: left;
	position: relative;
	top: -275px;
	left: 100px;
}
.history img {
	width: 225px;
	float: left;
	position: relative;
	bottom: 130px;
	right: 80px;
}
.arts img {
	width: 125px;
	height: auto;
	position: relative;
	right: 210px;
	top: 50px;
	float: left;
}
.english img {
	width: 225px;
	height: auto;
	float: right;
	position: relative;
	top: -287px;
	right: 30px;
}
.math img {
	width: 225px;
	height: auto;
	float: right;
	position: relative;
	bottom: 140px;
	left: 17%;
}
.more img {
	width: 125px;
	height: auto;
	position: relative;
	top: 38px;
	left: 27%;
	float: right;
}
.tagline {
	font-family: 'Book Antiqua', times;
	font-size: 40px;
	color: #5B6166;
	position: absolute;
	bottom: 0px;
	left: 30%;
	display: inline-block;
}
span img {
	width: 225px;
	height: auto;
	position: relative;
	top: 5px;
}


/*Civil War Page*/

.civilwar {
  width: 1200px;
  display: inline;
  margin-left: auto;
  margin-right: auto;
  background: white;
  padding:20px;
  margin-top: 0px;
  position: absolute;
}
img {
	width: 100%;
	height: auto;
}
nav {
  width: 100%;
  height: 30%; 
  float: left;
  display: inline-block;
}
	.left_nav {
		width: 45%;
		height: 20%;
	}
		.logo_home {
			width: 150px;
			height: auto;
		}
		.nav_searchbox {
	
		}
	
	.subjects_nav {
		width: 55%;
		height: auto;
		float: left;
	}
		.science_nav {
			width: 75px;
			height: auto;	
		}
		.history_nav {
			width: 150px;
			height: auto;	
		}
		.arts_nav {
			width: 75px;
			height: auto;	
		}
		.english_nav {
			width: 150px;
			height: auto;	
		}
		.math_nav {
			width: 150px;
			height: auto;	
		}
		.more_nav {
			width: 75px;
			height: auto;	
		}


/*History Main Page*/

/*.history_main {
	width: 90%;
	height: 80%;
}*/

/*	.chalkboard {
		width: 500px;
		height: auto;
		position: relative;
	}
	h1 {
		color: white;
		font-size: 40px;
		font-family: 
		position: absolute;
		width: 100%;		
	}*/