*/
/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}
.clear {
  clear: both;
}

.fl {
  float: right;
}

.fl {
  float: left;
}
@import url("fonts/webfonts/hello.myfonts.net/count/30843a");

  
@font-face {font-family: 'Drawzing';src: url('../fonts/webfonts/30843A_0_0.eot');src: url('../fonts/webfonts/30843A_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/webfonts/30843A_0_0.woff2') format('woff2'),url('../fonts/webfonts/30843A_0_0.woff') format('woff'),url('../fonts/webfonts/30843A_0_0.ttf') format('truetype');}
 
/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/******************************************/
/*HOME PAGE*/
/******************************************/

.body_home {
  width: 1200px;
  display: inline;
  margin-left: auto;
  margin-right: auto;
  background: white;
  padding:20px;
  margin-top: 0px;
  margin-bottom: 5em;
  position: absolute;
}
.about {
	text-decoration: none;
	color: #cc0033;
	margin-top: 40px;
}
a:hover {
	color: black;
}
h2 {
	text-decoration: none;
	float: left;
	font-size: 30px;
	color: #cc0033;
	font-family: 'Coming Soon', cursive;
	position: relative;
	left: 15%;
}
	.home_searchbox {
		float: right;
		margin-top: 25px;
		margin-right: 12%;
		margin-bottom: 20px;
	}

	input {
		width: 300px;
		height: 25px;
		border-style: solid;
		border-color: #cccccc;
		background-color: #e6e6e6;
		display: inline-block;
	}
	button {
		width: 75px;
		font-size: 25px !important;
		color: #cc0033;
		font-family: 'Coming Soon', cursive !important;
		border-style: solid;
		border-color: white;
		background-color: white;
	}

#logo {
	width: 24%;
	height: auto;
	margin-left: 37.5%;
	position: relative;
	top: 50px;
	display: block;
}
.pencil img {
	width: 250px;
	height: auto;
	display: block;
}
	#pencil1 img {
		position: absolute;
		top: 165px;
		left: 245px;
		-webkit-transform: rotate(20deg);
	    -moz-transform: rotate(20deg);
	    -ms-transform: rotate(20deg);
	    -o-transform: rotate(20deg);
	    transform: rotate(20deg);
	}
	#pencil2 img {
		position: absolute;
		top: 275px;
		left: 245px;
	}
	#pencil3 img {
		position: absolute;
		top: 375px;
		left: 270px;
		-webkit-transform: rotate(-20deg);
	    -moz-transform: rotate(-20deg);
	    -ms-transform: rotate(-20deg);
	    -o-transform: rotate(-20deg);
	    transform: rotate(-20deg);
	}
	#pencil4 img {
		position: absolute;
		top: 170px;
		left: 765px;
	    -webkit-transform: rotate(160deg);
	    -moz-transform: rotate(160deg);
	    -ms-transform: rotate(160deg);
	    -o-transform: rotate(160deg);
	    transform: rotate(160deg);
	}
	#pencil5 img {
		position: absolute;
		top: 275px;
		left: 762px;
	    -webkit-transform: rotate(180deg);
	    -moz-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	    -o-transform: rotate(180deg);
	    transform: rotate(180deg);
	}
	#pencil6 img {
		position: absolute;
		top: 375px;
		left: 59%;
	    -webkit-transform: rotate(200deg);
	    -moz-transform: rotate(200deg);
	    -ms-transform: rotate(200deg);
	    -o-transform: rotate(200deg);
	    transform: rotate(200deg);
	}
.subject_title {
	display: none;
}
.science img {
	width: 125px;
	height: auto;
	float: left;
	position: relative;
	bottom: 300px;
	left: 100px;
}
.history img {
	width: 125px;
	float: left;
	position: relative;
	bottom: 130px;
	right: 30px;
}
.arts img {
	width: 125px;
	height: auto;
	position: relative;
	right: 125px;
	top: 35px;
	float: left;
}
.english img {
	width: 125px;
	height: auto;
	float: right;
	position: relative;
	bottom: 295px;
	right: 80px;
}
.math img {
	width: 125px;
	height: auto;
	float: right;
	position: relative;
	bottom: 140px;
	left: 4%;
}
.more img {
	width: 125px;
	height: auto;
	position: relative;
	top: 37px;
	left: 11.3%;
	float: right;
}
.tagline {
	font-family: 'Book Antiqua', times;
	font-size: 40px;
	color: #5B6166;
	position: absolute;
	top: 13em;
	left: 30%;
	display: inline-block;
}
span img {
	width: 225px;
	height: auto;
	position: relative;
	top: 5px;
}

/******************************************/
/*ABOUT PAGE (JAVASCRIPT SCROLL DOWN ON CLICK "ABOUT"*/
/******************************************/
.about_page {
	margin-top: 25em;
	width: 1200px;
	height: 900px;
}
.notepad {
	background-image: url("../images/bio_notepad.jpg");
	width: 100%;
	height: auto;
	background-position: center center;
	background-repeat: no-repeat;
}
.profile_pic {
	width: 20%;
	height: auto;
	position: absolute;
	bottom: 12.5%;
	left: 24%;
}
.bio {
    width: 23%;
    height: 40%;
    font-family: 'Annie Use Your Telescope', serif;
    font-size: 1em;
    color: #454343;
    left: 53%;
    position: absolute;
    bottom: -11.4%;
    z-index: 100%;
    line-height: 1.5em;
  }
 .about_nav {
 	/*position: relative;
 	z-index: 10;*/
 }

/******************************************/
/*NAV FOR ALL PAGES EXCEPT HOME PAGE*/
/******************************************/
nav {
  width: 100%;
  height: 18%; 
  position: fixed;
  z-index: 9999;
  background-color: white;
}

.navAboutTest {
	width: 100%;
  	height: 10%; 
}

nav img {
	width: 100%;
	height: auto;
}
		.logo_home {
			width: 125px;
			height: auto;
			display: inline-block;
			position: relative;
		}
		.nav_searchbox {
			display: inline-block;
			position: absolute;
			top: 70px;
    		left: 140px;
		}
		.subjects_nav {
			float: right;
			display: inline-block;
			position: relative;
			bottom: 90px;
    		right: 3em;
		}
		.science_nav {
			width: 75px;
			height: auto;	
			display: inline-block;
		}
		.history_nav {
			width: 75px;
			height: auto;	
			display: inline-block;
		}
		.arts_nav {
			width: 75px;
			height: auto;	
			display: inline-block;
		}
		.english_nav {
			width: 75px;
			height: auto;	
			display: inline-block;
		}
		.math_nav {
			width: 75px;
			height: auto;
			display: inline-block;	
		}
		.more_nav {
			width: 75px;
			height: auto;
			display: inline-block;	
		}

/******************************************/
/*HISTORY MAIN PAGE*/
/******************************************/

.history_main {
	width: 1200px;
	height: 450px;
	margin-bottom: 20em;
}
	.chalkboard {
		width: 100%;
		height: 450px;
		text-align: center;
		position: relative;
		left: 2em;
		top: 27%;
		font-family: 'Drawzing';
		color: rgba(0, 0, 0, 0.5);
		margin-bottom: 25em;
	}

	.history_head {
		color: #f4f4f0;
		font-weight: normal;
		font-size: 8em;
	    margin: 0.67em 0;
	    position: absolute;
	    top: .3em;
    	left: 2.5em;
	    letter-spacing: .1em;		
	}

	.us_history_button {
		font-size: 45px;
	    color: #f4f4f0;
	    position: absolute;
	    top: 7em;
    	left: 5.5em;
	    float: left;
	}
	.world_history_button {
		font-size: 45px;
		color: #f4f4f0;
	    position: absolute;
	    top: 7em;
    	right: 6em;
	    float: right;
	}
/*
.ushistory_main {
	background-image: url("../images/chalkboard.jpg");
	background-repeat: no-repeat;
	background-size: 98%;
	height: 550px;
    margin-bottom: 10em;
    margin-left: 7.6%;
    z-index: -1;
}*/
.us_chalk {
	width: 60%;
	height: auto;
	z-index: 2;
}

.worldhistory_main {
	background-image: url("../images/chalkboard.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	height: 550px;
    margin-bottom: 10em;
    margin-left: 7.6%;
}
.world_chalk {
	width: 5em;
	height: auto;
}

/******************************************/
/*CIVIL WAR PAGE*/
/******************************************/

.history_directory a {
	text-decoration: none;
	color: #cc0033;
}
.history_directory a:hover {
	color: black;
}
.history_directory {
	display: inline-flex;
    position: absolute;
    top: 55%;
    color: #cc0033;
    font-family: 'Coming Soon', cursive;
    font-size: 1.3em;
    list-style: none;
    letter-spacing: .08em;
}

.civil_war_main {
	float: left;
	width: 70%;
}
.civil_war_header {
    font-family: 'Book Antiqua', times;
    font-weight: bold;
    color: #4A4A49;
    font-size: 36px;
    text-transform: uppercase;
    line-height: .5em;
    letter-spacing: 0;
}
.civil_war_body {
	font-family: 'Times New Roman', times;
    font-weight: normal;
    color: #4A4A49;
    font-size: 1em;
    line-height: 1.3em;
}
.key_events h4 {
	font-weight: bold;
	font-size: 2em;
}
.civil_war_aside {
	width: 25%;
    height: 1000px;
    border: 1px solid #4A4A49;
    font-family: 'Book Antiqua', times;
    color: #4A4A49;
    text-align: center;
    float: right;
    overflow: hidden;
}
.aside_head {
	text-transform: uppercase;
    text-decoration: underline;
    font-weight: bold;
}
.civil_war_aside_list {
	text-align: left;
}
.cv_dates {
	font-weight: bold;
}