input {
	width: 300px;
	height: 35px;
	border-style: solid;
	border-color: #cccccc;
	background-color: #e6e6e6;
}
button {
	font-size: 20px;
	color: #cc0033;
	font-family: 'Coming Soon', cursive;
	width: 75px;
	border-style: solid;
	border-color: #cccccc;
	background-color: #e6e6e6;
}
.searchbox {
	float: left;
	margin-top: 40px;
	margin-left: 70px;
}
h2 {
	float: right;
	font-size: 30px;
	color: #cc0033;
	font-family: 'Coming Soon', cursive;
	margin-top: 30px;
	margin-right: 200px;
}
#logo {
	width: 400px;
	height: auto;
	margin-left: 40%;
	margin-top: 150px;
}
#back_to_school {
	font-family: 'Coming Soon', cursive;
	font-size: 50px;
}
.pencil {
	width: 50px;
	height: auto;
}
./*science {
	width: 25px;
	height: auto;
	float: left;
}*/
/*.more {
	width: 20px;
	height: auto;
	float: left;
}*/